<ion-header>
    <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Timesheets</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>


  <div class="accordion vertical">
    <ul>
      <li>
        <input type="radio" id="radio-1" name="radio-accordion" />
        <label for="radio-1">Janeiro</label>
        <div class="content">
          <ion-row class='table-header'>
            <ion-col>Entrada</ion-col>
            <ion-col>Saída</ion-col>
            <ion-col>Período</ion-col>
          </ion-row>
          <button ion-item *ngFor="let lanc of lancamentosPorMes?.Janeiro" (click)="showDetail(lanc.id)">
            <ion-row class='table-content'>
              <ion-col>{{lanc.startDateTime | date:'HH:mm'}}</ion-col>
              <ion-col>{{lanc.endDateTime | date:'HH:mm'}}</ion-col>
              <ion-col>{{lanc.totalTime}}</ion-col>
            </ion-row>
          </button>
        </div>
      </li>
      <li>
        <input type="radio" id="radio-2" name="radio-accordion" />
        <label for="radio-2">Fevereiro</label>
        <div class="content">
          <ion-row class='table-header'>
            <ion-col>Entrada</ion-col>
            <ion-col>Saída</ion-col>
            <ion-col>Período</ion-col>
          </ion-row>
          <button ion-item *ngFor="let lanc of lancamentosPorMes?.Fevereiro" (click)="showDetail(lanc.id)">
            <ion-row class='table-content'>
              <ion-col>{{lanc.startDateTime | date:'HH:mm'}}</ion-col>
              <ion-col>{{lanc.endDateTime | date:'HH:mm'}}</ion-col>
              <ion-col>{{lanc.totalTime}}</ion-col>
            </ion-row>
          </button>
        </div>
      </li>
      <li>
        <input type="radio" id="radio-3" name="radio-accordion" />
        <label for="radio-3">Março</label>
        <div class="content">
          <ion-row class='table-header'>
            <ion-col>Entrada</ion-col>
            <ion-col>Saída</ion-col>
            <ion-col>Período</ion-col>
          </ion-row>
          <button ion-item *ngFor="let lanc of lancamentosPorMes?.Marco" (click)="showDetail(lanc.id)">
            <ion-row class='table-content'>
              <ion-col>{{lanc.startDateTime | date:'HH:mm'}}</ion-col>
              <ion-col>{{lanc.endDateTime | date:'HH:mm'}}</ion-col>
              <ion-col>{{lanc.totalTime}}</ion-col>
            </ion-row>
          </button>

        </div>
      </li>
      <li>
        <input type="radio" id="radio-4" name="radio-accordion" />
        <label for="radio-4">Abril</label>
        <div class="content">
          <ion-row class='table-header'>
            <ion-col>Entrada</ion-col>
            <ion-col>Saída</ion-col>
            <ion-col>Período</ion-col>
          </ion-row>
          <button ion-item *ngFor="let lanc of lancamentosPorMes?.Abril" (click)="showDetail(lanc.id)">
            <ion-row class='table-content'>
              <ion-col>{{lanc.startDateTime | date:'HH:mm'}}</ion-col>
              <ion-col>{{lanc.endDateTime | date:'HH:mm'}}</ion-col>
              <ion-col>{{lanc.totalTime}}</ion-col>
            </ion-row>
          </button>

        </div>
      </li>
      <li>
        <input type="radio" id="radio-5" name="radio-accordion" />
        <label for="radio-5">Maio</label>
        <div class="content">
          <ion-row class='table-header'>
            <ion-col>Entrada</ion-col>
            <ion-col>Saída</ion-col>
            <ion-col>Período</ion-col>
          </ion-row>
          <button ion-item *ngFor="let lanc of lancamentosPorMes?.Maio" (click)="showDetail(lanc.id)">
            <ion-row class='table-content'>
              <ion-col>{{lanc.startDateTime | date:'HH:mm'}}</ion-col>
              <ion-col>{{lanc.endDateTime | date:'HH:mm'}}</ion-col>
              <ion-col>{{lanc.totalTime}}</ion-col>
            </ion-row>
          </button>

        </div>
      </li>
      <li>
        <input type="radio" id="radio-6" name="radio-accordion" />
        <label for="radio-6">Junho</label>
        <div class="content">
          <ion-row class='table-header'>
            <ion-col>Entrada</ion-col>
            <ion-col>Saída</ion-col>
            <ion-col>Período</ion-col>
          </ion-row>
          <button ion-item *ngFor="let lanc of lancamentosPorMes?.Junho" (click)="showDetail(lanc.id)">
            <ion-row class='table-content'>
              <ion-col>{{lanc.startDateTime | date:'HH:mm'}}</ion-col>
              <ion-col>{{lanc.endDateTime | date:'HH:mm'}}</ion-col>
              <ion-col>{{lanc.totalTime}}</ion-col>
            </ion-row>
          </button>

        </div>
      </li>
      <li>
        <input type="radio" id="radio-7" name="radio-accordion" />
        <label for="radio-7">Julho</label>
        <div class="content">
          <ion-row class='table-header'>
            <ion-col>Entrada</ion-col>
            <ion-col>Saída</ion-col>
            <ion-col>Período</ion-col>
          </ion-row>
          <button ion-item *ngFor="let lanc of lancamentosPorMes?.Julho" (click)="showDetail(lanc.id)">
            <ion-row class='table-content'>
              <ion-col>{{lanc.startDateTime | date:'HH:mm'}}</ion-col>
              <ion-col>{{lanc.endDateTime | date:'HH:mm'}}</ion-col>
              <ion-col>{{lanc.totalTime}}</ion-col>
            </ion-row>
          </button>
        </div>
      </li>
      <li>
        <input type="radio" id="radio-8" name="radio-accordion" />
        <label for="radio-8">Agosto</label>
        <div class="content">
          <ion-row class='table-header'>
            <ion-col>Entrada</ion-col>
            <ion-col>Saída</ion-col>
            <ion-col>Período</ion-col>
          </ion-row>
          <button ion-item *ngFor="let lanc of lancamentosPorMes?.Agosto" (click)="showDetail(lanc.id)">
              <ion-row class='table-content'>
                <ion-col>{{lanc.startDateTime | date:'HH:mm'}}</ion-col>
                <ion-col>{{lanc.endDateTime | date:'HH:mm'}}</ion-col>
                <ion-col>{{lanc.totalTime}}</ion-col>
              </ion-row>
            </button>
        </div>
      </li>
      <li>
        <input type="radio" id="radio-9" name="radio-accordion" />
        <label for="radio-9">Setembro</label>
        <div class="content">
          <ion-row class='table-header'>
            <ion-col>Entrada</ion-col>
            <ion-col>Saída</ion-col>
            <ion-col>Período</ion-col>
          </ion-row>
          <button ion-item *ngFor="let lanc of lancamentosPorMes?.Setembro" (click)="showDetail(lanc.id)">
              <ion-row class='table-content'>
                <ion-col>{{lanc.startDateTime | date:'HH:mm'}}</ion-col>
                <ion-col>{{lanc.endDateTime | date:'HH:mm'}}</ion-col>
                <ion-col>{{lanc.totalTime}}</ion-col>
              </ion-row>
            </button>
        </div>
      </li>
      <li>
        <input type="radio" id="radio-10" name="radio-accordion" />
        <label for="radio-10">Outubro</label>
        <div class="content">
          <ion-row class='table-header'>
            <ion-col>Entrada</ion-col>
            <ion-col>Saída</ion-col>
            <ion-col>Período</ion-col>
          </ion-row>
          <button ion-item *ngFor="let lanc of lancamentosPorMes?.Outubro" (click)="showDetail(lanc.id)">
              <ion-row class='table-content'>
                <ion-col>{{lanc.startDateTime | date:'HH:mm'}}</ion-col>
                <ion-col>{{lanc.endDateTime | date:'HH:mm'}}</ion-col>
                <ion-col>{{lanc.totalTime}}</ion-col>
              </ion-row>
            </button>
        </div>
      </li>
      <li>
        <input type="radio" id="radio-11" name="radio-accordion" />
        <label for="radio-11">Novembro</label>
        <div class="content">
          <ion-row class='table-header'>
            <ion-col>Entrada</ion-col>
            <ion-col>Saída</ion-col>
            <ion-col>Período</ion-col>
          </ion-row>
          <button ion-item *ngFor="let lanc of lancamentosPorMes?.Novembro" (click)="showDetail(lanc.id)">
              <ion-row class='table-content'>
                <ion-col>{{lanc.startDateTime | date:'HH:mm'}}</ion-col>
                <ion-col>{{lanc.endDateTime | date:'HH:mm'}}</ion-col>
                <ion-col>{{lanc.totalTime}}</ion-col>
              </ion-row>
            </button>
        </div>
      </li>
      <li>
        <input type="radio" id="radio-12" name="radio-accordion" />
        <label for="radio-12">Dezembro</label>
        <div class="content">
          <ion-row class='table-header'>
            <ion-col>Entrada</ion-col>
            <ion-col>Saída</ion-col>
            <ion-col>Período</ion-col>
          </ion-row>
          <button ion-item *ngFor="let lanc of lancamentosPorMes?.Dezembro" (click)="showDetail(lanc.id)">
              <ion-row class='table-content'>
                <ion-col>{{lanc.startDateTime | date:'HH:mm'}}</ion-col>
                <ion-col>{{lanc.endDateTime | date:'HH:mm'}}</ion-col>
                <ion-col>{{lanc.totalTime}}</ion-col>
              </ion-row>
            </button>
        </div>
      </li>

    </ul>
  </div>

</ion-content>