<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Lançamentos</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>

    <ion-list>
      <ion-list-header>
        JULHO
      </ion-list-header>
      <ion-row class='table-header'>
          <ion-col>Entrada</ion-col>
          <ion-col>Saída</ion-col>
          <ion-col>Período</ion-col>
      </ion-row>
      <button ion-item *ngFor="let c of categ">
          <ion-row class='table-content'>
       
              <ion-col>{{c.startDateTime | date:'HH:mm'}}</ion-col>
              <ion-col>{{c.endDateTime | date:'HH:mm'}}</ion-col>
              <ion-col>{{c.totalTime}}</ion-col>
            </ion-row>
      </button>
    </ion-list>

    <ion-list class="accordion-list">
        <ion-list-header no-lines no-padding>
          <button ion-item detail-none
                  [style.background]="headerColor"
                  (click)="toggleAccordion()"
                  class="accordion-header"
                  [class.active]="expanded">
              <ion-icon
                item-left
                name="ios-arrow-forward">
              </ion-icon>
              JULHO
          </button>
          <section #accordionContent
                   [style.background]="contentColor"
                   [class.active]="expanded"
                   class="accordion-content">
                <button ion-item *ngFor="let c of categ">
                    <ion-row >
                        <ion-col>{{c.startDateTime | date:'HH:mm'}}</ion-col>
                        <ion-col>{{c.endDateTime | date:'HH:mm'}}</ion-col>
                        <ion-col>{{c.totalTime}}</ion-col>
                      </ion-row>
                </button>

          </section>
        </ion-list-header>
      </ion-list>


 </ion-content>
