<ion-header>
  <ion-navbar color="dark">
  <button ion-button menuToggle>
    <ion-icon name="menu" item-start></ion-icon>
  </button>
  <ion-title>Registrar</ion-title>
</ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup" (ngSubmit)="signupUser(); $event.preventDefault()">
    <ion-item>
      <ion-label stacked>Nome*</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>
    <p *ngIf="formGroup.controls['name'].dirty && formGroup.controls['name'].errors" class="danger" margin-left>Valor inválido</p>
    <ion-item>
        <ion-label stacked>Email*</ion-label>
        <ion-input formControlName="email" type="text"></ion-input>
    </ion-item>
    <p *ngIf="formGroup.controls['email'].dirty && formGroup.controls['email'].errors" class="danger" margin-left>Valor inválido</p>
    <ion-item>
        <ion-label stacked>Senha*</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
    </ion-item> 
    <p *ngIf="formGroup.controls['password'].dirty && formGroup.controls['password'].errors" class="danger" margin-left>Valor inválido</p> 
    <button ion-button block type="submit" [disabled]="formGroup.invalid">Criar conta</button>    
  </form>
</ion-content>
