<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Checkin</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-row>
      <ion-item>
        <ion-icon name="calendar" item-start></ion-icon>
        <ion-label floating>Data do Lançamento</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="timesheet.startDateTime"></ion-datetime>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-col col-7>
        <ion-item>
          <ion-icon name="time" item-start></ion-icon>
          <ion-label floating>Entrada</ion-label>
          <ion-datetime displayFormat="HH:mm" [(ngModel)]="timesheet.startDateTime"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col col-5>
        <ion-item>
          <ion-label floating>Saída</ion-label>
          <ion-datetime displayFormat="HH:mm" [disabled]="isCheckOutDisabled" [(ngModel)]="timesheet.endDateTime"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-item>
      <ion-icon name="plane" item-start></ion-icon>
      <ion-label>Viagem</ion-label>
      <ion-toggle color="dark" [(ngModel)]="timesheet.isInTravel"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon name="happy" item-start></ion-icon>
      <ion-label>Feriado</ion-label>
      <ion-toggle color="dark" [(ngModel)]="timesheet.isHoliday"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon name="list" item-start></ion-icon>
      <ion-label floating>Descrição do Período</ion-label>
      <ion-input [(ngModel)]="timesheet.periodDescription"></ion-input>
    </ion-item>
  </ion-list>
  <ion-row>
    <ion-col>
      <button ion-button color="primary" block [disabled]="isCheckInDisabled" (click)="checkin()">Check In</button>
    </ion-col>
    <ion-col>
      <button ion-button color="danger" block [disabled]="isCheckOutDisabled" (click)="checkout()">Check Out</button>
    </ion-col>
  </ion-row>
  <ion-list>
    <ion-row class='table-header'>
      <ion-col>Entrada</ion-col>
      <ion-col>Saída</ion-col>
      <ion-col>Período</ion-col>
    </ion-row>
    <ion-item ion-item *ngFor="let lancamento of lancamentosPorData" (click)="showDetail(lancamento.id)">
      <ion-row class='table-content'>
        <ion-col>{{lancamento.startDateTime | date:'HH:mm'}}</ion-col>
        <ion-col *ngIf="lancamento.startDateTime !== lancamento.endDateTime">{{lancamento.endDateTime | date:'HH:mm'}}</ion-col>
        <ion-col *ngIf="lancamento.startDateTime === lancamento.endDateTime">--- : ---</ion-col>
        <ion-col>{{lancamento.totalTime}}</ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
  <ion-row padding>
      <ion-item>
          <ion-label>Total do dia</ion-label>
         <ion-badge item-end>{{totalPorMes}}</ion-badge>
        </ion-item>
  </ion-row>
</ion-content>